<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.mapper.CheckingMapper" >

   <select id="getAll" resultType="Checking">
     select * from checking
   </select>
  <resultMap id="BaseResultMap" type="com.aaa.bean.Checking" >
    <id column="checkingId" property="checkingid" jdbcType="INTEGER" />
    <result column="theme" property="theme" jdbcType="VARCHAR" />
    <result column="userName" property="username" jdbcType="VARCHAR" />
    <result column="dept" property="dept" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="checkingDate" property="checkingdate" jdbcType="VARCHAR" />
    <result column="duration" property="duration" jdbcType="VARCHAR" />
    <result column="field1" property="field1" jdbcType="VARCHAR" />
    <result column="field2" property="field2" jdbcType="VARCHAR" />
    <result column="field3" property="field3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    checkingId, theme, userName, dept, type, checkingDate, duration, field1, field2, 
    field3
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from checking
    where checkingId = #{checkingid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from checking
    where checkingId = #{checkingid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aaa.bean.Checking" >
    insert into checking (checkingId, theme, userName, 
      dept, type, checkingDate, 
      duration, field1, field2, 
      field3)
    values (#{checkingid,jdbcType=INTEGER}, #{theme,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{dept,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{checkingdate,jdbcType=VARCHAR}, 
      #{duration,jdbcType=VARCHAR}, #{field1,jdbcType=VARCHAR}, #{field2,jdbcType=VARCHAR}, 
      #{field3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aaa.bean.Checking" >
    insert into checking
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="checkingid != null" >
        checkingId,
      </if>
      <if test="theme != null" >
        theme,
      </if>
      <if test="username != null" >
        userName,
      </if>
      <if test="dept != null" >
        dept,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="checkingdate != null" >
        checkingDate,
      </if>
      <if test="duration != null" >
        duration,
      </if>
      <if test="field1 != null" >
        field1,
      </if>
      <if test="field2 != null" >
        field2,
      </if>
      <if test="field3 != null" >
        field3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="checkingid != null" >
        #{checkingid,jdbcType=INTEGER},
      </if>
      <if test="theme != null" >
        #{theme,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="dept != null" >
        #{dept,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="checkingdate != null" >
        #{checkingdate,jdbcType=VARCHAR},
      </if>
      <if test="duration != null" >
        #{duration,jdbcType=VARCHAR},
      </if>
      <if test="field1 != null" >
        #{field1,jdbcType=VARCHAR},
      </if>
      <if test="field2 != null" >
        #{field2,jdbcType=VARCHAR},
      </if>
      <if test="field3 != null" >
        #{field3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aaa.bean.Checking" >
    update checking
    <set >
      <if test="theme != null" >
        theme = #{theme,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="dept != null" >
        dept = #{dept,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="checkingdate != null" >
        checkingDate = #{checkingdate,jdbcType=VARCHAR},
      </if>
      <if test="duration != null" >
        duration = #{duration,jdbcType=VARCHAR},
      </if>
      <if test="field1 != null" >
        field1 = #{field1,jdbcType=VARCHAR},
      </if>
      <if test="field2 != null" >
        field2 = #{field2,jdbcType=VARCHAR},
      </if>
      <if test="field3 != null" >
        field3 = #{field3,jdbcType=VARCHAR},
      </if>
    </set>
    where checkingId = #{checkingid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aaa.bean.Checking" >
    update checking
    set theme = #{theme,jdbcType=VARCHAR},
      userName = #{username,jdbcType=VARCHAR},
      dept = #{dept,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      checkingDate = #{checkingdate,jdbcType=VARCHAR},
      duration = #{duration,jdbcType=VARCHAR},
      field1 = #{field1,jdbcType=VARCHAR},
      field2 = #{field2,jdbcType=VARCHAR},
      field3 = #{field3,jdbcType=VARCHAR}
    where checkingId = #{checkingid,jdbcType=INTEGER}
  </update>
</mapper>