<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.mapper.EntryMapper" >
   <select id="getAll" resultType="Entry">
     select * from entry
   </select>

  <resultMap id="BaseResultMap" type="com.aaa.bean.Entry" >
    <id column="enntryId" property="enntryid" jdbcType="INTEGER" />
    <result column="dutyPeople" property="dutypeople" jdbcType="VARCHAR" />
    <result column="entryName" property="entryname" jdbcType="VARCHAR" />
    <result column="entryDate" property="entrydate" jdbcType="VARCHAR" />
    <result column="entryDepartment" property="entrydepartment" jdbcType="VARCHAR" />
    <result column="entryPost" property="entrypost" jdbcType="VARCHAR" />
    <result column="brthDate" property="brthdate" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="school" property="school" jdbcType="VARCHAR" />
    <result column="major" property="major" jdbcType="VARCHAR" />
    <result column="education" property="education" jdbcType="VARCHAR" />
    <result column="yearWork" property="yearwork" jdbcType="VARCHAR" />
    <result column="message" property="message" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="theme" property="theme" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    enntryId, dutyPeople, entryName, entryDate, entryDepartment, entryPost, brthDate, 
    sex, school, major, education, yearWork, message, status, theme
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from entry
    where enntryId = #{enntryid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from entry
    where enntryId = #{enntryid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aaa.bean.Entry" >
    insert into entry (enntryId, dutyPeople, entryName, 
      entryDate, entryDepartment, entryPost, 
      brthDate, sex, school, 
      major, education, yearWork, 
      message, status, theme
      )
    values (#{enntryid,jdbcType=INTEGER}, #{dutypeople,jdbcType=VARCHAR}, #{entryname,jdbcType=VARCHAR}, 
      #{entrydate,jdbcType=VARCHAR}, #{entrydepartment,jdbcType=VARCHAR}, #{entrypost,jdbcType=VARCHAR}, 
      #{brthdate,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{school,jdbcType=VARCHAR}, 
      #{major,jdbcType=VARCHAR}, #{education,jdbcType=VARCHAR}, #{yearwork,jdbcType=VARCHAR}, 
      #{message,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{theme,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aaa.bean.Entry" >
    insert into entry
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="enntryid != null" >
        enntryId,
      </if>
      <if test="dutypeople != null" >
        dutyPeople,
      </if>
      <if test="entryname != null" >
        entryName,
      </if>
      <if test="entrydate != null" >
        entryDate,
      </if>
      <if test="entrydepartment != null" >
        entryDepartment,
      </if>
      <if test="entrypost != null" >
        entryPost,
      </if>
      <if test="brthdate != null" >
        brthDate,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="school != null" >
        school,
      </if>
      <if test="major != null" >
        major,
      </if>
      <if test="education != null" >
        education,
      </if>
      <if test="yearwork != null" >
        yearWork,
      </if>
      <if test="message != null" >
        message,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="theme != null" >
        theme,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="enntryid != null" >
        #{enntryid,jdbcType=INTEGER},
      </if>
      <if test="dutypeople != null" >
        #{dutypeople,jdbcType=VARCHAR},
      </if>
      <if test="entryname != null" >
        #{entryname,jdbcType=VARCHAR},
      </if>
      <if test="entrydate != null" >
        #{entrydate,jdbcType=VARCHAR},
      </if>
      <if test="entrydepartment != null" >
        #{entrydepartment,jdbcType=VARCHAR},
      </if>
      <if test="entrypost != null" >
        #{entrypost,jdbcType=VARCHAR},
      </if>
      <if test="brthdate != null" >
        #{brthdate,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="school != null" >
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="yearwork != null" >
        #{yearwork,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="theme != null" >
        #{theme,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aaa.bean.Entry" >
    update entry
    <set >
      <if test="dutypeople != null" >
        dutyPeople = #{dutypeople,jdbcType=VARCHAR},
      </if>
      <if test="entryname != null" >
        entryName = #{entryname,jdbcType=VARCHAR},
      </if>
      <if test="entrydate != null" >
        entryDate = #{entrydate,jdbcType=VARCHAR},
      </if>
      <if test="entrydepartment != null" >
        entryDepartment = #{entrydepartment,jdbcType=VARCHAR},
      </if>
      <if test="entrypost != null" >
        entryPost = #{entrypost,jdbcType=VARCHAR},
      </if>
      <if test="brthdate != null" >
        brthDate = #{brthdate,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="school != null" >
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        major = #{major,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="yearwork != null" >
        yearWork = #{yearwork,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="theme != null" >
        theme = #{theme,jdbcType=VARCHAR},
      </if>
    </set>
    where enntryId = #{enntryid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aaa.bean.Entry" >
    update entry
    set dutyPeople = #{dutypeople,jdbcType=VARCHAR},
      entryName = #{entryname,jdbcType=VARCHAR},
      entryDate = #{entrydate,jdbcType=VARCHAR},
      entryDepartment = #{entrydepartment,jdbcType=VARCHAR},
      entryPost = #{entrypost,jdbcType=VARCHAR},
      brthDate = #{brthdate,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      school = #{school,jdbcType=VARCHAR},
      major = #{major,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      yearWork = #{yearwork,jdbcType=VARCHAR},
      message = #{message,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      theme = #{theme,jdbcType=VARCHAR}
    where enntryId = #{enntryid,jdbcType=INTEGER}
  </update>
</mapper>