<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.mapper.UsersMapper" >
  <resultMap id="BaseResultMap" type="com.aaa.bean.Users" >
    <id column="uid" property="uid" jdbcType="INTEGER" />
    <result column="uname" property="uname" jdbcType="VARCHAR" />
    <result column="unum" property="unum" jdbcType="VARCHAR" />
    <result column="upass" property="upass" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    uid, uname, unum, upass
  </sql>
  <!-- List<Users> alootTrueUser(Integer mTowId); -->
  <select id="alootTrueUser" parameterType="map" resultType="com.aaa.bean.Users">
	SELECT * from users us
		JOIN userstowmodile uom
		ON us.uid = uom.uid
		WHERE uom.mTowId = #{mTowId}
		<if test="uname != ''">
			and us.uname like "%"#{uname}"%"
		</if>
  </select>
  <!-- List<Users> alootFalseUser(Integer mTowId); -->
  <select id="alootFalseUser" parameterType="map" resultType="com.aaa.bean.Users">
	  	SELECT * from users us
			where uid not in(
				SELECT us.uid from users us
				JOIN userstowmodile uom
				ON us.uid = uom.uid
				WHERE uom.mTowId = #{mTowId})
			<if test="uname != ''">
				and us.uname like "%"#{uname}"%"
			</if>
  </select>
  <!-- Users getOneUsers(Users record); -->
  <select id="getOneUsers" parameterType="com.aaa.bean.Users" resultType="com.aaa.bean.Users">
  	SELECT * FROM users u WHERE u.unum = #{unum} AND u.upass = #{upass} 
  </select>
  <!-- List<Users> getAlluser(); -->
  <select id="getAlluser" resultType="com.aaa.bean.Users">
  	SELECT * FROM users
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from users
    where uid = #{uid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from users
    where uid = #{uid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aaa.bean.Users" >
    insert into users (uid, uname, unum, 
      upass)
    values (#{uid,jdbcType=INTEGER}, #{uname,jdbcType=VARCHAR}, #{unum,jdbcType=VARCHAR}, 
      #{upass,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aaa.bean.Users" >
    insert into users
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="uname != null" >
        uname,
      </if>
      <if test="unum != null" >
        unum,
      </if>
      <if test="upass != null" >
        upass,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="uname != null" >
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="unum != null" >
        #{unum,jdbcType=VARCHAR},
      </if>
      <if test="upass != null" >
        #{upass,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aaa.bean.Users" >
    update users
    <set >
      <if test="uname != null" >
        uname = #{uname,jdbcType=VARCHAR},
      </if>
      <if test="unum != null" >
        unum = #{unum,jdbcType=VARCHAR},
      </if>
      <if test="upass != null" >
        upass = #{upass,jdbcType=VARCHAR},
      </if>
    </set>
    where uid = #{uid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aaa.bean.Users" >
    update users
    set uname = #{uname,jdbcType=VARCHAR},
      unum = #{unum,jdbcType=VARCHAR},
      upass = #{upass,jdbcType=VARCHAR}
    where uid = #{uid,jdbcType=INTEGER}
  </update>
</mapper>