<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.mapper.CarinsuranceMapper">
 <select id="getDept" resultType="java.util.Map">
  	select * from dept
  </select>
  
  <select id="getCar" resultType="java.util.Map">
  	select * from car
  </select>
   <select id="getAll" resultType="java.util.Map">
     select * from carinsurance i join car c on i.icar=c.cid
    </select>
    
</mapper>