<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.mapper.ClientMapper">
  <resultMap id="BaseResultMap" type="com.aaa.bean.Client">
    <id column="clientid" jdbcType="INTEGER" property="clientid" />
    <result column="clientname" jdbcType="VARCHAR" property="clientname" />
    <result column="clientspell" jdbcType="VARCHAR" property="clientspell" />
    <result column="clientclassify" jdbcType="VARCHAR" property="clientclassify" />
    <result column="clientsource" jdbcType="VARCHAR" property="clientsource" />
    <result column="industry" jdbcType="VARCHAR" property="industry" />
    <result column="clienturl" jdbcType="VARCHAR" property="clienturl" />
    <result column="region" jdbcType="VARCHAR" property="region" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="clientpostcode" jdbcType="INTEGER" property="clientpostcode" />
    <result column="clientfax" jdbcType="VARCHAR" property="clientfax" />
    <result column="linkman" jdbcType="VARCHAR" property="linkman" />
    <result column="clientdept" jdbcType="VARCHAR" property="clientdept" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="officephone" jdbcType="VARCHAR" property="officephone" />
    <result column="movephone" jdbcType="VARCHAR" property="movephone" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="legal" jdbcType="VARCHAR" property="legal" />
    <result column="registered" jdbcType="VARCHAR" property="registered" />
    <result column="clientexplain" jdbcType="VARCHAR" property="clientexplain" />
    <result column="clientaccount" jdbcType="VARCHAR" property="clientaccount" />
    <result column="accountname" jdbcType="VARCHAR" property="accountname" />
    <result column="clientbank" jdbcType="VARCHAR" property="clientbank" />
    <result column="bankaddress" jdbcType="VARCHAR" property="bankaddress" />
    <result column="clientduty" jdbcType="VARCHAR" property="clientduty" />
    <result column="reservedphone" jdbcType="VARCHAR" property="reservedphone" />
  </resultMap>
  <select id="getAll" resultType="Client">
      select * from Client
   </select>
   <select id="selectAll" resultType="Client">
      select * from Client
      
   </select>
  
  <sql id="Base_Column_List">
    clientid, clientname, clientspell, clientclassify, clientsource, industry, clienturl, 
    region, city, address, clientpostcode, clientfax, linkman, clientdept, position, 
    officephone, movephone, qq, legal, registered, clientexplain, clientaccount, accountname, 
    clientbank, bankaddress, clientduty, reservedphone
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from client
    where clientid = #{clientid,jdbcType=INTEGER}
  </select>
  <select id="selectDim" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select * from client where clientname like '%${key}%'
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from client
    where clientid = #{clientid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aaa.bean.Client">
    insert into client (clientid, clientname, clientspell,clientclassify,clientsource,industry,clienturl,region,city,address, clientpostcode, clientfax, linkman, clientdept, position, officephone, movephone, qq, legal, registered, clientexplain, clientaccount, accountname, clientbank, bankaddress, clientduty, reservedphone)
    values (#{clientid,jdbcType=INTEGER}, #{clientname,jdbcType=VARCHAR}, #{clientspell,jdbcType=VARCHAR}, 
      #{clientclassify,jdbcType=VARCHAR}, #{clientsource,jdbcType=VARCHAR}, #{industry,jdbcType=VARCHAR}, 
      #{clienturl,jdbcType=VARCHAR}, #{region,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{clientpostcode,jdbcType=INTEGER}, #{clientfax,jdbcType=VARCHAR}, 
      #{linkman,jdbcType=VARCHAR}, #{clientdept,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, 
      #{officephone,jdbcType=VARCHAR}, #{movephone,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, 
      #{legal,jdbcType=VARCHAR}, #{registered,jdbcType=VARCHAR}, #{clientexplain,jdbcType=VARCHAR}, 
      #{clientaccount,jdbcType=VARCHAR}, #{accountname,jdbcType=VARCHAR}, #{clientbank,jdbcType=VARCHAR}, 
      #{bankaddress,jdbcType=VARCHAR}, #{clientduty,jdbcType=VARCHAR}, #{reservedphone,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aaa.bean.Client">
    insert into client
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="clientid != null">
        clientid,
      </if>
      <if test="clientname != null">
        clientname,
      </if>
      <if test="clientspell != null">
        clientspell,
      </if>
      <if test="clientclassify != null">
        clientclassify,
      </if>
      <if test="clientsource != null">
        clientsource,
      </if>
      <if test="industry != null">
        industry,
      </if>
      <if test="clienturl != null">
        clienturl,
      </if>
      <if test="region != null">
        region,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="clientpostcode != null">
        clientpostcode,
      </if>
      <if test="clientfax != null">
        clientfax,
      </if>
      <if test="linkman != null">
        linkman,
      </if>
      <if test="clientdept != null">
        clientdept,
      </if>
      <if test="position != null">
        position,
      </if>
      <if test="officephone != null">
        officephone,
      </if>
      <if test="movephone != null">
        movephone,
      </if>
      <if test="qq != null">
        qq,
      </if>
      <if test="legal != null">
        legal,
      </if>
      <if test="registered != null">
        registered,
      </if>
      <if test="clientexplain != null">
        clientexplain,
      </if>
      <if test="clientaccount != null">
        clientaccount,
      </if>
      <if test="accountname != null">
        accountname,
      </if>
      <if test="clientbank != null">
        clientbank,
      </if>
      <if test="bankaddress != null">
        bankaddress,
      </if>
      <if test="clientduty != null">
        clientduty,
      </if>
      <if test="reservedphone != null">
        reservedphone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="clientid != null">
        #{clientid,jdbcType=INTEGER},
      </if>
      <if test="clientname != null">
        #{clientname,jdbcType=VARCHAR},
      </if>
      <if test="clientspell != null">
        #{clientspell,jdbcType=VARCHAR},
      </if>
      <if test="clientclassify != null">
        #{clientclassify,jdbcType=VARCHAR},
      </if>
      <if test="clientsource != null">
        #{clientsource,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        #{industry,jdbcType=VARCHAR},
      </if>
      <if test="clienturl != null">
        #{clienturl,jdbcType=VARCHAR},
      </if>
      <if test="region != null">
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="clientpostcode != null">
        #{clientpostcode,jdbcType=INTEGER},
      </if>
      <if test="clientfax != null">
        #{clientfax,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null">
        #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="clientdept != null">
        #{clientdept,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="officephone != null">
        #{officephone,jdbcType=VARCHAR},
      </if>
      <if test="movephone != null">
        #{movephone,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="legal != null">
        #{legal,jdbcType=VARCHAR},
      </if>
      <if test="registered != null">
        #{registered,jdbcType=VARCHAR},
      </if>
      <if test="clientexplain != null">
        #{clientexplain,jdbcType=VARCHAR},
      </if>
      <if test="clientaccount != null">
        #{clientaccount,jdbcType=VARCHAR},
      </if>
      <if test="accountname != null">
        #{accountname,jdbcType=VARCHAR},
      </if>
      <if test="clientbank != null">
        #{clientbank,jdbcType=VARCHAR},
      </if>
      <if test="bankaddress != null">
        #{bankaddress,jdbcType=VARCHAR},
      </if>
      <if test="clientduty != null">
        #{clientduty,jdbcType=VARCHAR},
      </if>
      <if test="reservedphone != null">
        #{reservedphone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aaa.bean.Client">
    update client
    <set>
      <if test="clientname != null">
        clientname = #{clientname,jdbcType=VARCHAR},
      </if>
      <if test="clientspell != null">
        clientspell = #{clientspell,jdbcType=VARCHAR},
      </if>
      <if test="clientclassify != null">
        clientclassify = #{clientclassify,jdbcType=VARCHAR},
      </if>
      <if test="clientsource != null">
        clientsource = #{clientsource,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        industry = #{industry,jdbcType=VARCHAR},
      </if>
      <if test="clienturl != null">
        clienturl = #{clienturl,jdbcType=VARCHAR},
      </if>
      <if test="region != null">
        region = #{region,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="clientpostcode != null">
        clientpostcode = #{clientpostcode,jdbcType=INTEGER},
      </if>
      <if test="clientfax != null">
        clientfax = #{clientfax,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null">
        linkman = #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="clientdept != null">
        clientdept = #{clientdept,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="officephone != null">
        officephone = #{officephone,jdbcType=VARCHAR},
      </if>
      <if test="movephone != null">
        movephone = #{movephone,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="legal != null">
        legal = #{legal,jdbcType=VARCHAR},
      </if>
      <if test="registered != null">
        registered = #{registered,jdbcType=VARCHAR},
      </if>
      <if test="clientexplain != null">
        clientexplain = #{clientexplain,jdbcType=VARCHAR},
      </if>
      <if test="clientaccount != null">
        clientaccount = #{clientaccount,jdbcType=VARCHAR},
      </if>
      <if test="accountname != null">
        accountname = #{accountname,jdbcType=VARCHAR},
      </if>
      <if test="clientbank != null">
        clientbank = #{clientbank,jdbcType=VARCHAR},
      </if>
      <if test="bankaddress != null">
        bankaddress = #{bankaddress,jdbcType=VARCHAR},
      </if>
      <if test="clientduty != null">
        clientduty = #{clientduty,jdbcType=VARCHAR},
      </if>
      <if test="reservedphone != null">
        reservedphone = #{reservedphone,jdbcType=VARCHAR},
      </if>
    </set>
    where clientid = #{clientid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aaa.bean.Client">
    update client
    set clientname = #{clientname,jdbcType=VARCHAR},
      clientspell = #{clientspell,jdbcType=VARCHAR},
      clientclassify = #{clientclassify,jdbcType=VARCHAR},
      clientsource = #{clientsource,jdbcType=VARCHAR},
      industry = #{industry,jdbcType=VARCHAR},
      clienturl = #{clienturl,jdbcType=VARCHAR},
      region = #{region,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      clientpostcode = #{clientpostcode,jdbcType=INTEGER},
      clientfax = #{clientfax,jdbcType=VARCHAR},
      linkman = #{linkman,jdbcType=VARCHAR},
      clientdept = #{clientdept,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      officephone = #{officephone,jdbcType=VARCHAR},
      movephone = #{movephone,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      legal = #{legal,jdbcType=VARCHAR},
      registered = #{registered,jdbcType=VARCHAR},
      clientexplain = #{clientexplain,jdbcType=VARCHAR},
      clientaccount = #{clientaccount,jdbcType=VARCHAR},
      accountname = #{accountname,jdbcType=VARCHAR},
      clientbank = #{clientbank,jdbcType=VARCHAR},
      bankaddress = #{bankaddress,jdbcType=VARCHAR},
      clientduty = #{clientduty,jdbcType=VARCHAR},
      reservedphone = #{reservedphone,jdbcType=VARCHAR}
    where clientid = #{clientid,jdbcType=INTEGER}
  </update>
 
</mapper>