<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.mapper.ContractMapper">
  <resultMap id="BaseResultMap" type="com.aaa.bean.Contract">
    <id column="contractid" jdbcType="INTEGER" property="contractid" />
    <result column="clientid" jdbcType="INTEGER" property="clientid" />
    <result column="contracplc" jdbcType="VARCHAR" property="contracplc" />
    <result column="contraccity" jdbcType="VARCHAR" property="contraccity" />
    <result column="contracaddress" jdbcType="VARCHAR" property="contracaddress" />
    <result column="contracname" jdbcType="VARCHAR" property="contracname" />
    <result column="contracnumber" jdbcType="VARCHAR" property="contracnumber" />
    <result column="contracmoney" jdbcType="DOUBLE" property="contracmoney" />
    <result column="signingdate" jdbcType="VARCHAR" property="signingdate" />
    <result column="effectivedate" jdbcType="VARCHAR" property="effectivedate" />
    <result column="saasdate" jdbcType="VARCHAR" property="saasdate" />
    <result column="linkman" jdbcType="VARCHAR" property="linkman" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="cellphone" jdbcType="VARCHAR" property="cellphone" />
    <result column="contracqq" jdbcType="VARCHAR" property="contracqq" />
    <result column="terms" jdbcType="VARCHAR" property="terms" />
    <result column="businessterms" jdbcType="VARCHAR" property="businessterms" />
    <result column="department" jdbcType="VARCHAR" property="department" />
    <result column="contracstate" jdbcType="VARCHAR" property="contracstate" />
    <result column="detailId" jdbcType="INTEGER" property="detailid" />
  </resultMap>
  <sql id="Base_Column_List">
    contractid, clientid, contracplc, contraccity, contracaddress, contracname, contracnumber, 
    contracmoney, signingdate, effectivedate, saasdate, linkman, telephone, cellphone, 
    contracqq, terms, businessterms, department, contracstate, detailId
  </sql>
  
  <select id="selectAll" parameterType="java.lang.String" resultType="java.util.Map">
  	select * from contract ct left join client c on ct.clientid=c.clientid left join userdetail u on u.detailid=ct.detailid
  
  	<if test="key!=null and key!=''">
  		where ct.contracname like '%${key}%'
  	</if>
  
  </select>
  <!--List<Map> getOne(Integer contractid); -->
  <select id="getOne" parameterType="integer" resultType="map">

      select o.*,u.username from (
           select ct.*,c.clientname from contract ct 
             left join client c on ct.clientid=c.clientid   where ct.contractid = #{id}) o
      left join userdetail u on u.detailid=o.detailid
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from contract
    where contractid = #{contractid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aaa.bean.Contract">
    insert into contract (contractid, clientid, contracplc, 
      contraccity, contracaddress, contracname, 
      contracnumber, contracmoney, signingdate, 
      effectivedate, saasdate, linkman, 
      telephone, cellphone, contracqq, 
      terms, businessterms, department, 
      contracstate, detailId)
    values (#{contractid,jdbcType=INTEGER}, #{clientid,jdbcType=INTEGER}, #{contracplc,jdbcType=VARCHAR}, 
      #{contraccity,jdbcType=VARCHAR}, #{contracaddress,jdbcType=VARCHAR}, #{contracname,jdbcType=VARCHAR}, 
      #{contracnumber,jdbcType=VARCHAR}, #{contracmoney,jdbcType=DOUBLE}, #{signingdate,jdbcType=VARCHAR}, 
      #{effectivedate,jdbcType=VARCHAR}, #{saasdate,jdbcType=VARCHAR}, #{linkman,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{cellphone,jdbcType=VARCHAR}, #{contracqq,jdbcType=VARCHAR}, 
      #{terms,jdbcType=VARCHAR}, #{businessterms,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}, 
      #{contracstate,jdbcType=VARCHAR}, #{detailid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.aaa.bean.Contract">
    insert into contract
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="contractid != null">
        contractid,
      </if>
      <if test="clientid != null">
        clientid,
      </if>
      <if test="contracplc != null">
        contracplc,
      </if>
      <if test="contraccity != null">
        contraccity,
      </if>
      <if test="contracaddress != null">
        contracaddress,
      </if>
      <if test="contracname != null">
        contracname,
      </if>
      <if test="contracnumber != null">
        contracnumber,
      </if>
      <if test="contracmoney != null">
        contracmoney,
      </if>
      <if test="signingdate != null">
        signingdate,
      </if>
      <if test="effectivedate != null">
        effectivedate,
      </if>
      <if test="saasdate != null">
        saasdate,
      </if>
      <if test="linkman != null">
        linkman,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="cellphone != null">
        cellphone,
      </if>
      <if test="contracqq != null">
        contracqq,
      </if>
      <if test="terms != null">
        terms,
      </if>
      <if test="businessterms != null">
        businessterms,
      </if>
      <if test="department != null">
        department,
      </if>
      <if test="contracstate != null">
        contracstate,
      </if>
      <if test="detailid != null">
        detailId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="contractid != null">
        #{contractid,jdbcType=INTEGER},
      </if>
      <if test="clientid != null">
        #{clientid,jdbcType=INTEGER},
      </if>
      <if test="contracplc != null">
        #{contracplc,jdbcType=VARCHAR},
      </if>
      <if test="contraccity != null">
        #{contraccity,jdbcType=VARCHAR},
      </if>
      <if test="contracaddress != null">
        #{contracaddress,jdbcType=VARCHAR},
      </if>
      <if test="contracname != null">
        #{contracname,jdbcType=VARCHAR},
      </if>
      <if test="contracnumber != null">
        #{contracnumber,jdbcType=VARCHAR},
      </if>
      <if test="contracmoney != null">
        #{contracmoney,jdbcType=DOUBLE},
      </if>
      <if test="signingdate != null">
        #{signingdate,jdbcType=VARCHAR},
      </if>
      <if test="effectivedate != null">
        #{effectivedate,jdbcType=VARCHAR},
      </if>
      <if test="saasdate != null">
        #{saasdate,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null">
        #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="cellphone != null">
        #{cellphone,jdbcType=VARCHAR},
      </if>
      <if test="contracqq != null">
        #{contracqq,jdbcType=VARCHAR},
      </if>
      <if test="terms != null">
        #{terms,jdbcType=VARCHAR},
      </if>
      <if test="businessterms != null">
        #{businessterms,jdbcType=VARCHAR},
      </if>
      <if test="department != null">
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="contracstate != null">
        #{contracstate,jdbcType=VARCHAR},
      </if>
      <if test="detailid != null">
        #{detailid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <!--执行中的合同  -->
  <update id="updateid" parameterType="java.lang.Integer" >
  
  	update contract set contracstate =1 where contractid=#{contractid,jdbcType=INTEGER}
  
  </update>
  <!--关闭的合同  -->
  <update id="updateidOne" parameterType="com.aaa.bean.Contract" >
  
  	update contract set contracstate =2 where contractid=#{contractid,jdbcType=INTEGER}
  
  </update>
  <!--搁置中的合同  -->
  <update id="updateidTwo" parameterType="com.aaa.bean.Contract">
  
  	update contract set contracstate =3 where contractid=#{contractid,jdbcType=INTEGER}
  
  </update>
  <!--撤销中的合同  -->
  <update id="updateidThree" parameterType="com.aaa.bean.Contract">
  
  	update contract set contracstate =4 where contractid=#{contractid,jdbcType=INTEGER}
  
  </update>
  
  
  <update id="updateByPrimaryKeySelective" parameterType="com.aaa.bean.Contract">
    update contract 
    <set>
      <if test="clientid != null">
        clientid = #{clientid,jdbcType=INTEGER},
      </if>
      <if test="contracplc != null">
        contracplc = #{contracplc,jdbcType=VARCHAR},
      </if>
      <if test="contraccity != null">
        contraccity = #{contraccity,jdbcType=VARCHAR},
      </if>
      <if test="contracaddress != null">
        contracaddress = #{contracaddress,jdbcType=VARCHAR},
      </if>
      <if test="contracname != null">
        contracname = #{contracname,jdbcType=VARCHAR},
      </if>
      <if test="contracnumber != null">
        contracnumber = #{contracnumber,jdbcType=VARCHAR},
      </if>
      <if test="contracmoney != null">
        contracmoney = #{contracmoney,jdbcType=DOUBLE},
      </if>
      <if test="signingdate != null">
        signingdate = #{signingdate,jdbcType=VARCHAR},
      </if>
      <if test="effectivedate != null">
        effectivedate = #{effectivedate,jdbcType=VARCHAR},
      </if>
      <if test="saasdate != null">
        saasdate = #{saasdate,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null">
        linkman = #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="cellphone != null">
        cellphone = #{cellphone,jdbcType=VARCHAR},
      </if>
      <if test="contracqq != null">
        contracqq = #{contracqq,jdbcType=VARCHAR},
      </if>
      <if test="terms != null">
        terms = #{terms,jdbcType=VARCHAR},
      </if>
      <if test="businessterms != null">
        businessterms = #{businessterms,jdbcType=VARCHAR},
      </if>
      <if test="department != null">
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="contracstate != null">
        contracstate = #{contracstate,jdbcType=VARCHAR},
      </if>
      <if test="detailid != null">
        detailId = #{detailid,jdbcType=INTEGER},
      </if>
    </set>
    where contractid = #{contractid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aaa.bean.Contract">
    update contract
    set clientid = #{clientid,jdbcType=INTEGER},
      contracplc = #{contracplc,jdbcType=VARCHAR},
      contraccity = #{contraccity,jdbcType=VARCHAR},
      contracaddress = #{contracaddress,jdbcType=VARCHAR},
      contracname = #{contracname,jdbcType=VARCHAR},
      contracnumber = #{contracnumber,jdbcType=VARCHAR},
      contracmoney = #{contracmoney,jdbcType=DOUBLE},
      signingdate = #{signingdate,jdbcType=VARCHAR},
      effectivedate = #{effectivedate,jdbcType=VARCHAR},
      saasdate = #{saasdate,jdbcType=VARCHAR},
      linkman = #{linkman,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      cellphone = #{cellphone,jdbcType=VARCHAR},
      contracqq = #{contracqq,jdbcType=VARCHAR},
      terms = #{terms,jdbcType=VARCHAR},
      businessterms = #{businessterms,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      contracstate = #{contracstate,jdbcType=VARCHAR},
      detailId = #{detailid,jdbcType=INTEGER}
    where contractid = #{contractid,jdbcType=INTEGER}
  </update>
  
</mapper>