<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.mapper.DeptMapper">

  
  <update id="updateHuiOne" parameterType="Contract">
  	update contract set contracqq=#{contracqq} where contractid=#{cid}
  </update>
  


</mapper>