<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.mapper.DuthorityManagementMapper">
	<!-- public void insertVisitonemodile(Visitonemodile visitonemodile) -->
	<insert id="insertVisitonemodile" parameterType="Visitonemodile">
		INSERT INTO visitonemodile(mname, mdescribe, msequnce, mimageurl) VALUES(#{mname}, #{mdescribe}, #{msequnce}, #{mimageurl})
	</insert>
	<!-- public void swlwctVisitonemodile(); -->
	<select id="selectVisitonemodile" resultType="java.util.Map">
		SELECT * FROM visitonemodile
	</select>
	<!-- public int insert(Visittwomodile record); -->
	<insert id="insert" parameterType="com.aaa.bean.Visittwomodile">
	    insert into visittwomodile (mTowId, mname, murl, mdescribe, msequnce, mOneId)
	    values (#{mtowid}, #{mname}, #{murl}, #{mdescribe}, #{msequnce}, #{moneid})
  </insert>
	<!-- public void swlwctVisitteomodile(); -->
	<select id="selectVisittwomodile" resultType="java.util.Map">
		SELECT * FROM visittwomodile
	</select>
	<!-- //根据用户查询二级菜单
	public List<Map> selectUserTowModile(Integer uid); -->
	<select id="selectUserTowModile" parameterType="integer" resultType="java.util.Map">
		SELECT * from visittwomodile vtm 
			JOIN userstowmodile uw 
			ON uw.mTowId = vtm.mTowId
			WHERE uw.uid = #{uid}
	</select>
	<!-- //根据二级菜单查询一级菜单
	public List<Map> selectOneMTowModile(Integer[] mOneIds); -->
	<select id="selectOneMTowModile" parameterType="integer" resultType="java.util.Map">
		SELECT * from visitonemodile vom 
			JOIN visittwomodile vtm
			ON vom.moneId = vtm.mTowId
			JOIN userstowmodile uw 
			ON uw.mTowId = vtm.mTowId
			WHERE uw.uid = #{uid}
	</select>
</mapper>


