<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.mapper.GgMapper" >
   <select id="getAllGg" resultType="java.util.Map">
      select * from Gg
   </select>
   
   <insert id="addGg" parameterType="com.aaa.bean.Gg">
      insert into Gg(ggResponsible,ggPriority,ggClassify,ggKeyword,ggDept,ggAccessory,ggTheme,ggContent,ggDate,ggNewdate) VALUES
       (#{ggResponsible},#{ggPriority},#{ggClassify},#{ggKeyword},#{ggDept},#{ggAccessory},#{ggTheme},#{ggContent},NOW(),#{ggNewdate})       
   </insert>
   <select id="getAllGgone1" resultType="java.util.Map">
      select * from Gg <!-- where ggClassify -->
   </select>
   <select id="getAllGgone2" resultType="java.util.Map">
      select * from Gg  where ggClassify='新闻资讯'
   </select>
   <select id="getAllGgone3" resultType="java.util.Map">
      select * from Gg  where ggClassify='通知公告'
   </select>
   <select id="getAllGgone4" resultType="java.util.Map">
      select * from Gg  where ggClassify='规章制度'
   </select>
   <select id="getAllGgone5" resultType="java.util.Map">
      select * from Gg  where ggClassify='行业动态'
   </select>
   <select id="getAllGgone6" resultType="java.util.Map">
     select * from Gg  where date_sub(curdate(),INTERVAL 7 DAY) &lt;= date(ggDate) 
   </select>
   <select id="getAllGgone7" resultType="java.util.Map">
       select * from Gg where date_sub(curdate(), INTERVAL 30 DAY) &lt;= date(ggDate)
   </select>
   <select id="getAllGgone8" resultType="java.util.Map">
      select * from Gg where QUARTER(ggDate)=QUARTER(now())
   </select>
    <select id="getAll" resultType="java.util.Map" >
      select * from Gg where ggid=#{id}
    </select>
   </mapper>