<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.mapper.GroupcompanyMapper" >
  <resultMap id="BaseResultMap" type="com.aaa.bean.Groupcompany" >
    <id column="GcId" property="gcid" jdbcType="INTEGER" />
    <result column="GcName" property="gcname" jdbcType="VARCHAR" />
    <result column="GcDepict" property="gcdepict" jdbcType="VARCHAR" />
    <result column="GcJobDescription" property="gcjobdescription" jdbcType="VARCHAR" />
    <result column="GcState" property="gcstate" jdbcType="INTEGER" />
    <result column="belong" property="belong" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    GcId, GcName, GcDepict, GcJobDescription, GcState, belong
  </sql>
  <!-- public List<Groupcompany> getAllGroupcompany(); -->
  <select id="getAllGroupcompany" resultType="com.aaa.bean.Groupcompany">
  	select * from Groupcompany
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from groupcompany
    where GcId = #{gcid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from groupcompany
    where GcId = #{gcid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aaa.bean.Groupcompany" >
    insert into groupcompany (GcId, GcName, GcDepict, 
      GcJobDescription, GcState, belong
      )
    values (#{gcid,jdbcType=INTEGER}, #{gcname,jdbcType=VARCHAR}, #{gcdepict,jdbcType=VARCHAR}, 
      #{gcjobdescription,jdbcType=VARCHAR}, #{gcstate,jdbcType=INTEGER}, #{belong,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aaa.bean.Groupcompany" >
    insert into groupcompany
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gcid != null" >
        GcId,
      </if>
      <if test="gcname != null" >
        GcName,
      </if>
      <if test="gcdepict != null" >
        GcDepict,
      </if>
      <if test="gcjobdescription != null" >
        GcJobDescription,
      </if>
      <if test="gcstate != null" >
        GcState,
      </if>
      <if test="belong != null" >
        belong,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gcid != null" >
        #{gcid,jdbcType=INTEGER},
      </if>
      <if test="gcname != null" >
        #{gcname,jdbcType=VARCHAR},
      </if>
      <if test="gcdepict != null" >
        #{gcdepict,jdbcType=VARCHAR},
      </if>
      <if test="gcjobdescription != null" >
        #{gcjobdescription,jdbcType=VARCHAR},
      </if>
      <if test="gcstate != null" >
        #{gcstate,jdbcType=INTEGER},
      </if>
      <if test="belong != null" >
        #{belong,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aaa.bean.Groupcompany" >
    update groupcompany
    <set >
      <if test="gcname != null" >
        GcName = #{gcname,jdbcType=VARCHAR},
      </if>
      <if test="gcdepict != null" >
        GcDepict = #{gcdepict,jdbcType=VARCHAR},
      </if>
      <if test="gcjobdescription != null" >
        GcJobDescription = #{gcjobdescription,jdbcType=VARCHAR},
      </if>
      <if test="gcstate != null" >
        GcState = #{gcstate,jdbcType=INTEGER},
      </if>
      <if test="belong != null" >
        belong = #{belong,jdbcType=INTEGER},
      </if>
    </set>
    where GcId = #{gcid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aaa.bean.Groupcompany" >
    update groupcompany
    set GcName = #{gcname,jdbcType=VARCHAR},
      GcDepict = #{gcdepict,jdbcType=VARCHAR},
      GcJobDescription = #{gcjobdescription,jdbcType=VARCHAR},
      GcState = #{gcstate,jdbcType=INTEGER},
      belong = #{belong,jdbcType=INTEGER}
    where GcId = #{gcid,jdbcType=INTEGER}
  </update>
</mapper>