<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.mapper.MettingMapper" >
  
  <select id="getAll" resultType="Metting">
    select metting.mname,metting.mid,metting.mcapacity,metting.mlocation,metting.mfacility,metting.mstate from metting
  </select>
  <select id="selectMetting" parameterType="Integer" resultType="Metting">
    select from metting where mid=#{id}
  </select>
  <insert id="insertMetting" parameterType="com.aaa.bean.Metting" >
    insert into metting(mid,mname,mcapacity,mlocation,mfacility,mcustodian,mstate,mdescribe,madjunct) values 
    (#{mid},#{mname},#{mcapacity},#{mlocation},#{mfacility},#{mcustodian},#{mstate},#{mdescribe},#{madjunct})
  </insert>
  <update id="updateMetting" parameterType="com.aaa.bean.Metting">
     update metting set 
     #{mname}, #{mcapacity},#{mlocation}, #{mfacility}, #{mcustodian},#{mstate}, #{mdescribe}, #{madjunct}
     where mid=#{mid}
  </update>
  <delete id="deleteMetting" parameterType="Integer">
     delete from metting where mid=#{id}    
  </delete>
 </mapper>