<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.mapper.OfficialMapper" >
  <resultMap id="BaseResultMap" type="com.aaa.bean.Official" >
    <id column="officialId" property="officialid" jdbcType="INTEGER" />
    <result column="theme" property="theme" jdbcType="VARCHAR" />
    <result column="dutyPeople" property="dutypeople" jdbcType="VARCHAR" />
    <result column="proposer" property="proposer" jdbcType="VARCHAR" />
    <result column="filingDate" property="filingdate" jdbcType="VARCHAR" />
    <result column="department" property="department" jdbcType="VARCHAR" />
    <result column="post" property="post" jdbcType="VARCHAR" />
    <result column="entryDate" property="entrydate" jdbcType="VARCHAR" />
    <result column="officialDate" property="officialdate" jdbcType="VARCHAR" />
    <result column="workContent" property="workcontent" jdbcType="VARCHAR" />
    <result column="workgrade" property="workgrade" jdbcType="VARCHAR" />
    <result column="issue" property="issue" jdbcType="VARCHAR" />
    <result column="superiorremark" property="superiorremark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    officialId, theme, dutyPeople, proposer, filingDate, department, post, entryDate, 
    officialDate, workContent, workgrade, issue, superiorremark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from official
    where officialId = #{officialid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from official
    where officialId = #{officialid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aaa.bean.Official" >
    insert into official (officialId, theme, dutyPeople, 
      proposer, filingDate, department, 
      post, entryDate, officialDate, 
      workContent, workgrade, issue, 
      superiorremark)
    values (#{officialid,jdbcType=INTEGER}, #{theme,jdbcType=VARCHAR}, #{dutypeople,jdbcType=VARCHAR}, 
      #{proposer,jdbcType=VARCHAR}, #{filingdate,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}, 
      #{post,jdbcType=VARCHAR}, #{entrydate,jdbcType=VARCHAR}, #{officialdate,jdbcType=VARCHAR}, 
      #{workcontent,jdbcType=VARCHAR}, #{workgrade,jdbcType=VARCHAR}, #{issue,jdbcType=VARCHAR}, 
      #{superiorremark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aaa.bean.Official" >
    insert into official
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="officialid != null" >
        officialId,
      </if>
      <if test="theme != null" >
        theme,
      </if>
      <if test="dutypeople != null" >
        dutyPeople,
      </if>
      <if test="proposer != null" >
        proposer,
      </if>
      <if test="filingdate != null" >
        filingDate,
      </if>
      <if test="department != null" >
        department,
      </if>
      <if test="post != null" >
        post,
      </if>
      <if test="entrydate != null" >
        entryDate,
      </if>
      <if test="officialdate != null" >
        officialDate,
      </if>
      <if test="workcontent != null" >
        workContent,
      </if>
      <if test="workgrade != null" >
        workgrade,
      </if>
      <if test="issue != null" >
        issue,
      </if>
      <if test="superiorremark != null" >
        superiorremark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="officialid != null" >
        #{officialid,jdbcType=INTEGER},
      </if>
      <if test="theme != null" >
        #{theme,jdbcType=VARCHAR},
      </if>
      <if test="dutypeople != null" >
        #{dutypeople,jdbcType=VARCHAR},
      </if>
      <if test="proposer != null" >
        #{proposer,jdbcType=VARCHAR},
      </if>
      <if test="filingdate != null" >
        #{filingdate,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="post != null" >
        #{post,jdbcType=VARCHAR},
      </if>
      <if test="entrydate != null" >
        #{entrydate,jdbcType=VARCHAR},
      </if>
      <if test="officialdate != null" >
        #{officialdate,jdbcType=VARCHAR},
      </if>
      <if test="workcontent != null" >
        #{workcontent,jdbcType=VARCHAR},
      </if>
      <if test="workgrade != null" >
        #{workgrade,jdbcType=VARCHAR},
      </if>
      <if test="issue != null" >
        #{issue,jdbcType=VARCHAR},
      </if>
      <if test="superiorremark != null" >
        #{superiorremark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aaa.bean.Official" >
    update official
    <set >
      <if test="theme != null" >
        theme = #{theme,jdbcType=VARCHAR},
      </if>
      <if test="dutypeople != null" >
        dutyPeople = #{dutypeople,jdbcType=VARCHAR},
      </if>
      <if test="proposer != null" >
        proposer = #{proposer,jdbcType=VARCHAR},
      </if>
      <if test="filingdate != null" >
        filingDate = #{filingdate,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="post != null" >
        post = #{post,jdbcType=VARCHAR},
      </if>
      <if test="entrydate != null" >
        entryDate = #{entrydate,jdbcType=VARCHAR},
      </if>
      <if test="officialdate != null" >
        officialDate = #{officialdate,jdbcType=VARCHAR},
      </if>
      <if test="workcontent != null" >
        workContent = #{workcontent,jdbcType=VARCHAR},
      </if>
      <if test="workgrade != null" >
        workgrade = #{workgrade,jdbcType=VARCHAR},
      </if>
      <if test="issue != null" >
        issue = #{issue,jdbcType=VARCHAR},
      </if>
      <if test="superiorremark != null" >
        superiorremark = #{superiorremark,jdbcType=VARCHAR},
      </if>
    </set>
    where officialId = #{officialid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aaa.bean.Official" >
    update official
    set theme = #{theme,jdbcType=VARCHAR},
      dutyPeople = #{dutypeople,jdbcType=VARCHAR},
      proposer = #{proposer,jdbcType=VARCHAR},
      filingDate = #{filingdate,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      post = #{post,jdbcType=VARCHAR},
      entryDate = #{entrydate,jdbcType=VARCHAR},
      officialDate = #{officialdate,jdbcType=VARCHAR},
      workContent = #{workcontent,jdbcType=VARCHAR},
      workgrade = #{workgrade,jdbcType=VARCHAR},
      issue = #{issue,jdbcType=VARCHAR},
      superiorremark = #{superiorremark,jdbcType=VARCHAR}
    where officialId = #{officialid,jdbcType=INTEGER}
  </update>
</mapper>