<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.mapper.RecruitMapper" >
  <resultMap id="BaseResultMap" type="com.aaa.bean.Recruit" >
    <id column="recruitId" property="recruitid" jdbcType="INTEGER" />
    <result column="principal" property="principal" jdbcType="VARCHAR" />
    <result column="endDate" property="enddate" jdbcType="VARCHAR" />
    <result column="department" property="department" jdbcType="VARCHAR" />
    <result column="post" property="post" jdbcType="VARCHAR" />
    <result column="peopleNumber" property="peoplenumber" jdbcType="VARCHAR" />
    <result column="cause" property="cause" jdbcType="VARCHAR" />
    <result column="obligation" property="obligation" jdbcType="VARCHAR" />
    <result column="language" property="language" jdbcType="VARCHAR" />
    <result column="workspace" property="workspace" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="education" property="education" jdbcType="VARCHAR" />
    <result column="major" property="major" jdbcType="VARCHAR" />
    <result column="experience" property="experience" jdbcType="VARCHAR" />
    <result column="other" property="other" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="theme" property="theme" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    recruitId, principal, endDate, department, post, peopleNumber, cause, obligation, 
    language, workspace, age, sex, education, major, experience, other, status, theme
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from recruit
    where recruitId = #{recruitid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from recruit
    where recruitId = #{recruitid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aaa.bean.Recruit" >
    insert into recruit (recruitId, principal, endDate, 
      department, post, peopleNumber, 
      cause, obligation, language, 
      workspace, age, sex, 
      education, major, experience, 
      other, status, theme
      )
    values (#{recruitid,jdbcType=INTEGER}, #{principal,jdbcType=VARCHAR}, #{enddate,jdbcType=VARCHAR}, 
      #{department,jdbcType=VARCHAR}, #{post,jdbcType=VARCHAR}, #{peoplenumber,jdbcType=VARCHAR}, 
      #{cause,jdbcType=VARCHAR}, #{obligation,jdbcType=VARCHAR}, #{language,jdbcType=VARCHAR}, 
      #{workspace,jdbcType=VARCHAR}, #{age,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{education,jdbcType=VARCHAR}, #{major,jdbcType=VARCHAR}, #{experience,jdbcType=VARCHAR}, 
      #{other,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{theme,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aaa.bean.Recruit" >
    insert into recruit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recruitid != null" >
        recruitId,
      </if>
      <if test="principal != null" >
        principal,
      </if>
      <if test="enddate != null" >
        endDate,
      </if>
      <if test="department != null" >
        department,
      </if>
      <if test="post != null" >
        post,
      </if>
      <if test="peoplenumber != null" >
        peopleNumber,
      </if>
      <if test="cause != null" >
        cause,
      </if>
      <if test="obligation != null" >
        obligation,
      </if>
      <if test="language != null" >
        language,
      </if>
      <if test="workspace != null" >
        workspace,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="education != null" >
        education,
      </if>
      <if test="major != null" >
        major,
      </if>
      <if test="experience != null" >
        experience,
      </if>
      <if test="other != null" >
        other,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="theme != null" >
        theme,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recruitid != null" >
        #{recruitid,jdbcType=INTEGER},
      </if>
      <if test="principal != null" >
        #{principal,jdbcType=VARCHAR},
      </if>
      <if test="enddate != null" >
        #{enddate,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="post != null" >
        #{post,jdbcType=VARCHAR},
      </if>
      <if test="peoplenumber != null" >
        #{peoplenumber,jdbcType=VARCHAR},
      </if>
      <if test="cause != null" >
        #{cause,jdbcType=VARCHAR},
      </if>
      <if test="obligation != null" >
        #{obligation,jdbcType=VARCHAR},
      </if>
      <if test="language != null" >
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="workspace != null" >
        #{workspace,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="experience != null" >
        #{experience,jdbcType=VARCHAR},
      </if>
      <if test="other != null" >
        #{other,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="theme != null" >
        #{theme,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aaa.bean.Recruit" >
    update recruit
    <set >
      <if test="principal != null" >
        principal = #{principal,jdbcType=VARCHAR},
      </if>
      <if test="enddate != null" >
        endDate = #{enddate,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="post != null" >
        post = #{post,jdbcType=VARCHAR},
      </if>
      <if test="peoplenumber != null" >
        peopleNumber = #{peoplenumber,jdbcType=VARCHAR},
      </if>
      <if test="cause != null" >
        cause = #{cause,jdbcType=VARCHAR},
      </if>
      <if test="obligation != null" >
        obligation = #{obligation,jdbcType=VARCHAR},
      </if>
      <if test="language != null" >
        language = #{language,jdbcType=VARCHAR},
      </if>
      <if test="workspace != null" >
        workspace = #{workspace,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        major = #{major,jdbcType=VARCHAR},
      </if>
      <if test="experience != null" >
        experience = #{experience,jdbcType=VARCHAR},
      </if>
      <if test="other != null" >
        other = #{other,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="theme != null" >
        theme = #{theme,jdbcType=VARCHAR},
      </if>
    </set>
    where recruitId = #{recruitid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aaa.bean.Recruit" >
    update recruit
    set principal = #{principal,jdbcType=VARCHAR},
      endDate = #{enddate,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      post = #{post,jdbcType=VARCHAR},
      peopleNumber = #{peoplenumber,jdbcType=VARCHAR},
      cause = #{cause,jdbcType=VARCHAR},
      obligation = #{obligation,jdbcType=VARCHAR},
      language = #{language,jdbcType=VARCHAR},
      workspace = #{workspace,jdbcType=VARCHAR},
      age = #{age,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      major = #{major,jdbcType=VARCHAR},
      experience = #{experience,jdbcType=VARCHAR},
      other = #{other,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      theme = #{theme,jdbcType=VARCHAR}
    where recruitId = #{recruitid,jdbcType=INTEGER}
  </update>
</mapper>