<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.mapper.UsersMapper" >
  <!-- List<Users> alootTrueUser(Integer mTowId); -->
  <select id="alootTrueUser" parameterType="map" resultType="com.aaa.bean.Users">
	SELECT * from users us
		JOIN userstowmodile uom
		ON us.uid = uom.uid
		WHERE uom.mTowId = #{mTowId}
		<if test="uname != ''">
			and us.uname like "%"#{uname}"%"
		</if>
  </select>
  <!-- List<Users> alootFalseUser(Integer mTowId); -->
  <select id="alootFalseUser" parameterType="map" resultType="com.aaa.bean.Users">
	  	SELECT * from users us
			where uid not in(
				SELECT us.uid from users us
				JOIN userstowmodile uom
				ON us.uid = uom.uid
				WHERE uom.mTowId = #{mTowId})
			<if test="uname != ''">
				and us.uname like "%"#{uname}"%"
			</if>
  </select>
  <!-- List<Users> postTrueUser(Integer mTowId); -->
  <select id="postTrueUser" parameterType="map" resultType="com.aaa.bean.Users">
	SELECT * from users us
		JOIN userspost up
		ON us.uid = up.uid
		WHERE up.pid = #{pid}
		<if test="uname != ''">
			and us.uname like "%"#{uname}"%"
		</if>
  </select>
  <!-- List<Users> postFalseUser(Integer mTowId); -->
  <select id="postFalseUser" parameterType="map" resultType="com.aaa.bean.Users">
	  	SELECT * from users us
			where us.uid not in(
				SELECT us.uid from users us
				JOIN userspost up
				ON us.uid = up.uid
				WHERE up.pid = #{pid})
			<if test="uname != ''">
				and us.uname like "%"#{uname}"%"
			</if>
  </select>
  <!-- Users getOneUsers(Users record); -->
  <select id="getOneUsers" parameterType="com.aaa.bean.Users" resultType="com.aaa.bean.Users">
  	SELECT * FROM users u WHERE u.unum = #{unum} AND u.upass = #{upass} 
  </select>
  <!-- List<Users> getAlluser(); -->
  <select id="getAlluser" resultType="com.aaa.bean.Users">
  	SELECT * FROM users
  </select>
  
	<!-- 查询一个用户有关详细信息  getOneUserDetails-->
	<select id="getOneUserDetails" parameterType="integer" resultType="map">
		SELECT * FROM userdetail ud WHERE ud.detailid = #{uid}
	</select>

</mapper>