<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.mapper.UserdetailMapper" >

   <select id="getAllUserdetail" resultType="java.util.Map">
      select * from Userdetail
   </select>
   <select id="getAll" resultType="Userdetail">
      select * from Userdetail
   </select>
  
  <!--条件查询   -->
   <select id="getAllOne0" resultType="java.util.Map">
     select * from Userdetail
   </select>
   <select id="getAllOne1" resultType="java.util.Map">
     select * from Userdetail where dependence='阿尔法集团'
   </select>
   <select id="getAllOne2" resultType="java.util.Map">
     select * from Userdetail where dependence='总经办'
   </select>
   <select id="getAllOne3" resultType="java.util.Map">
     select * from Userdetail where dependence='人事部'
   </select>
   <select id="getAllOne4" resultType="java.util.Map">
     select * from Userdetail where dependence='财务部'
   </select>
   <select id="getAllOne5" resultType="java.util.Map">
     select * from Userdetail where dependence='科技公司'
   </select>
   <select id="getAllOne6" resultType="java.util.Map">
     select * from Userdetail where dependence='采购部'
   </select>
   <select id="getAllOne7" resultType="java.util.Map">
     select * from Userdetail where dependence='技术部'
   </select>
   <select id="getAllOne8" resultType="java.util.Map">
     select * from Userdetail where dependence='生产部'
   </select>
   <select id="getAllOne9" resultType="java.util.Map">
     select * from Userdetail where dependence='营销部'
   </select>
   <select id="getAllOne10" resultType="java.util.Map">
     select * from Userdetail where dependence='工程公司'
   </select>
   <select id="getAllOne11" resultType="java.util.Map">
     select * from Userdetail where dependence='工程部'
   </select>
   <select id="getAllOne12" resultType="java.util.Map">
     select * from Userdetail where dependence='售后部'
   </select>
   <select id="getAllOne13" resultType="java.util.Map">
     select * from Userdetail where dependence='网络部'
   </select>
   <select id="getAllOne14" resultType="java.util.Map">
     select * from Userdetail where dependence='销售部'
   </select>
   <select id="getAllOne15" resultType="java.util.Map">
     select * from Userdetail where dependence='现代事务所'
   </select>
   
   <select id="getAllOne16" resultType="java.util.Map">
     select * from Userdetail where dependence='产权部'
   </select>
   <select id="getAllOne17" resultType="java.util.Map">
     select * from Userdetail where dependence='法务部'
   </select>
   <select id="getAllOne18" resultType="java.util.Map">
     select * from Userdetail where dependence='税务部'
   </select>
   <select id="getAllOne19" resultType="java.util.Map">
     select * from Userdetail where dependence='咨询部'
   </select>
   <select id="getAllOne20" resultType="java.util.Map">
     select * from Userdetail where dependence='北京机构'
   </select>
   <select id="getAllOne21" resultType="java.util.Map">
     select * from Userdetail where dependence='杭州机构'
   </select>
   <select id="getAllOne22" resultType="java.util.Map">
     select * from Userdetail where dependence='上海机构'
   </select>
   <select id="getAllOne23" resultType="java.util.Map">
     select * from Userdetail where dependence='深圳机构'
   </select>
</mapper>
