<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.mapper.UserdetailMapper" >

   <select id="getAllUserdetail" resultType="java.util.Map">
      select * from Userdetail
   </select>
   <select id="getAll" resultType="Userdetail">
      select * from Userdetail
   </select>
  
  <!--条件查询   -->
   <select id="getAllOne0" resultType="java.util.Map">
     select * from Userdetail
   </select>
   <select id="getAllOne1" resultType="java.util.Map">
     select * from Userdetail where dependence='阿尔法集团'
   </select>
   <select id="getAllOne2" resultType="java.util.Map">
     select * from Userdetail where dependence='总经办'
   </select>
   <select id="getAllOne3" resultType="java.util.Map">
     select * from Userdetail where dependence='人事部'
   </select>
   <select id="getAllOne4" resultType="java.util.Map">
     select * from Userdetail where dependence='财务部'
   </select>
   <select id="getAllOne5" resultType="java.util.Map">
     select * from Userdetail where dependence='科技公司'
   </select>
   <select id="getAllOne6" resultType="java.util.Map">
     select * from Userdetail where dependence='采购部'
   </select>
   <select id="getAllOne7" resultType="java.util.Map">
     select * from Userdetail where dependence='技术部'
   </select>
   <select id="getAllOne8" resultType="java.util.Map">
     select * from Userdetail where dependence='生产部'
   </select>
   <select id="getAllOne9" resultType="java.util.Map">
     select * from Userdetail where dependence='营销部'
   </select>
   <select id="getAllOne10" resultType="java.util.Map">
     select * from Userdetail where dependence='工程公司'
   </select>
   <select id="getAllOne11" resultType="java.util.Map">
     select * from Userdetail where dependence='工程部'
   </select>
   <select id="getAllOne12" resultType="java.util.Map">
     select * from Userdetail where dependence='售后部'
   </select>
   <select id="getAllOne13" resultType="java.util.Map">
     select * from Userdetail where dependence='网络部'
   </select>
   <select id="getAllOne14" resultType="java.util.Map">
     select * from Userdetail where dependence='销售部'
   </select>
   <select id="getAllOne15" resultType="java.util.Map">
     select * from Userdetail where dependence='现代事务所'
   </select>
   
   <select id="getAllOne16" resultType="java.util.Map">
     select * from Userdetail where dependence='产权部'
   </select>
   <select id="getAllOne17" resultType="java.util.Map">
     select * from Userdetail where dependence='法务部'
   </select>
   <select id="getAllOne18" resultType="java.util.Map">
     select * from Userdetail where dependence='税务部'
   </select>
   <select id="getAllOne19" resultType="java.util.Map">
     select * from Userdetail where dependence='咨询部'
   </select>
   <select id="getAllOne20" resultType="java.util.Map">
     select * from Userdetail where dependence='北京机构'
   </select>
   <select id="getAllOne21" resultType="java.util.Map">
     select * from Userdetail where dependence='杭州机构'
   </select>
   <select id="getAllOne22" resultType="java.util.Map">
     select * from Userdetail where dependence='上海机构'
   </select>
   <select id="getAllOne23" resultType="java.util.Map">
     select * from Userdetail where dependence='深圳机构'
   </select>
   
   
  <resultMap id="BaseResultMap" type="com.aaa.bean.Userdetail" >
    <id column="detailId" property="detailid" jdbcType="INTEGER" />
    <result column="UserSex" property="usersex" jdbcType="VARCHAR" />
    <result column="UserNum" property="usernum" jdbcType="VARCHAR" />
    <result column="entryDate" property="entrydate" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="birthDate" property="birthdate" jdbcType="VARCHAR" />
    <result column="positiveDate" property="positivedate" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="message" property="message" jdbcType="VARCHAR" />
    <result column="nativeplace" property="nativeplace" jdbcType="VARCHAR" />
    <result column="nation" property="nation" jdbcType="VARCHAR" />
    <result column="politics" property="politics" jdbcType="VARCHAR" />
    <result column="marriage" property="marriage" jdbcType="VARCHAR" />
    <result column="IDnumber" property="idnumber" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="school" property="school" jdbcType="VARCHAR" />
    <result column="education" property="education" jdbcType="VARCHAR" />
    <result column="major" property="major" jdbcType="VARCHAR" />
    <result column="hobby" property="hobby" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="dependence" property="dependence" jdbcType="VARCHAR" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    detailId, UserSex, UserNum, entryDate, phone, telephone, email, birthDate, positiveDate, 
    description, message, nativeplace, nation, politics, marriage, IDnumber, address, 
    school, education, major, hobby, status, dependence, position, username
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from userdetail
    where detailId = #{detailid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from userdetail
    where detailId = #{detailid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aaa.bean.Userdetail" >
    insert into userdetail (detailId, UserSex, UserNum, 
      entryDate, phone, telephone, 
      email, birthDate, positiveDate, 
      description, message, nativeplace, 
      nation, politics, marriage, 
      IDnumber, address, school, 
      education, major, hobby, 
      status, dependence, position, 
      username)
    values (#{detailid,jdbcType=INTEGER}, #{usersex,jdbcType=VARCHAR}, #{usernum,jdbcType=VARCHAR}, 
      #{entrydate,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{birthdate,jdbcType=VARCHAR}, #{positivedate,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{message,jdbcType=VARCHAR}, #{nativeplace,jdbcType=VARCHAR}, 
      #{nation,jdbcType=VARCHAR}, #{politics,jdbcType=VARCHAR}, #{marriage,jdbcType=VARCHAR}, 
      #{idnumber,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{school,jdbcType=VARCHAR}, 
      #{education,jdbcType=VARCHAR}, #{major,jdbcType=VARCHAR}, #{hobby,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{dependence,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, 
      #{username,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aaa.bean.Userdetail" >
    insert into userdetail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="detailid != null" >
        detailId,
      </if>
      <if test="usersex != null" >
        UserSex,
      </if>
      <if test="usernum != null" >
        UserNum,
      </if>
      <if test="entrydate != null" >
        entryDate,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="birthdate != null" >
        birthDate,
      </if>
      <if test="positivedate != null" >
        positiveDate,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="message != null" >
        message,
      </if>
      <if test="nativeplace != null" >
        nativeplace,
      </if>
      <if test="nation != null" >
        nation,
      </if>
      <if test="politics != null" >
        politics,
      </if>
      <if test="marriage != null" >
        marriage,
      </if>
      <if test="idnumber != null" >
        IDnumber,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="school != null" >
        school,
      </if>
      <if test="education != null" >
        education,
      </if>
      <if test="major != null" >
        major,
      </if>
      <if test="hobby != null" >
        hobby,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="dependence != null" >
        dependence,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="username != null" >
        username,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="detailid != null" >
        #{detailid,jdbcType=INTEGER},
      </if>
      <if test="usersex != null" >
        #{usersex,jdbcType=VARCHAR},
      </if>
      <if test="usernum != null" >
        #{usernum,jdbcType=VARCHAR},
      </if>
      <if test="entrydate != null" >
        #{entrydate,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="birthdate != null" >
        #{birthdate,jdbcType=VARCHAR},
      </if>
      <if test="positivedate != null" >
        #{positivedate,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="nativeplace != null" >
        #{nativeplace,jdbcType=VARCHAR},
      </if>
      <if test="nation != null" >
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="politics != null" >
        #{politics,jdbcType=VARCHAR},
      </if>
      <if test="marriage != null" >
        #{marriage,jdbcType=VARCHAR},
      </if>
      <if test="idnumber != null" >
        #{idnumber,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="school != null" >
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="hobby != null" >
        #{hobby,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="dependence != null" >
        #{dependence,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aaa.bean.Userdetail" >
    update userdetail
    <set >
      <if test="usersex != null" >
        UserSex = #{usersex,jdbcType=VARCHAR},
      </if>
      <if test="usernum != null" >
        UserNum = #{usernum,jdbcType=VARCHAR},
      </if>
      <if test="entrydate != null" >
        entryDate = #{entrydate,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="birthdate != null" >
        birthDate = #{birthdate,jdbcType=VARCHAR},
      </if>
      <if test="positivedate != null" >
        positiveDate = #{positivedate,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="nativeplace != null" >
        nativeplace = #{nativeplace,jdbcType=VARCHAR},
      </if>
      <if test="nation != null" >
        nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="politics != null" >
        politics = #{politics,jdbcType=VARCHAR},
      </if>
      <if test="marriage != null" >
        marriage = #{marriage,jdbcType=VARCHAR},
      </if>
      <if test="idnumber != null" >
        IDnumber = #{idnumber,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="school != null" >
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        major = #{major,jdbcType=VARCHAR},
      </if>
      <if test="hobby != null" >
        hobby = #{hobby,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="dependence != null" >
        dependence = #{dependence,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
    </set>
    where detailId = #{detailid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aaa.bean.Userdetail" >
    update userdetail
    set UserSex = #{usersex,jdbcType=VARCHAR},
      UserNum = #{usernum,jdbcType=VARCHAR},
      entryDate = #{entrydate,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      birthDate = #{birthdate,jdbcType=VARCHAR},
      positiveDate = #{positivedate,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      message = #{message,jdbcType=VARCHAR},
      nativeplace = #{nativeplace,jdbcType=VARCHAR},
      nation = #{nation,jdbcType=VARCHAR},
      politics = #{politics,jdbcType=VARCHAR},
      marriage = #{marriage,jdbcType=VARCHAR},
      IDnumber = #{idnumber,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      school = #{school,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      major = #{major,jdbcType=VARCHAR},
      hobby = #{hobby,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      dependence = #{dependence,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR}
    where detailId = #{detailid,jdbcType=INTEGER}
  </update>
</mapper>
