<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.mapper.VisittwomodileMapper">
  <resultMap id="BaseResultMap" type="com.aaa.bean.Visittwomodile">
    <id column="mTowId" jdbcType="INTEGER" property="mtowid" />
    <result column="mname" jdbcType="VARCHAR" property="mname" />
    <result column="murl" jdbcType="VARCHAR" property="murl" />
    <result column="mdescribe" jdbcType="VARCHAR" property="mdescribe" />
    <result column="msequnce" jdbcType="INTEGER" property="msequnce" />
    <result column="mOneId" jdbcType="INTEGER" property="moneid" />
  </resultMap>
  <sql id="Base_Column_List">
    mTowId, mname, murl, mdescribe, msequnce, mOneId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from visittwomodile
    where mTowId = #{mtowid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from visittwomodile
    where mTowId = #{mtowid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aaa.bean.Visittwomodile">
    insert into visittwomodile (mTowId, mname, murl, 
      mdescribe, msequnce, mOneId
      )
    values (#{mtowid,jdbcType=INTEGER}, #{mname,jdbcType=VARCHAR}, #{murl,jdbcType=VARCHAR}, 
      #{mdescribe,jdbcType=VARCHAR}, #{msequnce,jdbcType=INTEGER}, #{moneid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aaa.bean.Visittwomodile">
    insert into visittwomodile
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mtowid != null">
        mTowId,
      </if>
      <if test="mname != null">
        mname,
      </if>
      <if test="murl != null">
        murl,
      </if>
      <if test="mdescribe != null">
        mdescribe,
      </if>
      <if test="msequnce != null">
        msequnce,
      </if>
      <if test="moneid != null">
        mOneId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mtowid != null">
        #{mtowid,jdbcType=INTEGER},
      </if>
      <if test="mname != null">
        #{mname,jdbcType=VARCHAR},
      </if>
      <if test="murl != null">
        #{murl,jdbcType=VARCHAR},
      </if>
      <if test="mdescribe != null">
        #{mdescribe,jdbcType=VARCHAR},
      </if>
      <if test="msequnce != null">
        #{msequnce,jdbcType=INTEGER},
      </if>
      <if test="moneid != null">
        #{moneid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aaa.bean.Visittwomodile">
    update visittwomodile
    <set>
      <if test="mname != null">
        mname = #{mname,jdbcType=VARCHAR},
      </if>
      <if test="murl != null">
        murl = #{murl,jdbcType=VARCHAR},
      </if>
      <if test="mdescribe != null">
        mdescribe = #{mdescribe,jdbcType=VARCHAR},
      </if>
      <if test="msequnce != null">
        msequnce = #{msequnce,jdbcType=INTEGER},
      </if>
      <if test="moneid != null">
        mOneId = #{moneid,jdbcType=INTEGER},
      </if>
    </set>
    where mTowId = #{mtowid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aaa.bean.Visittwomodile">
    update visittwomodile
    set mname = #{mname,jdbcType=VARCHAR},
      murl = #{murl,jdbcType=VARCHAR},
      mdescribe = #{mdescribe,jdbcType=VARCHAR},
      msequnce = #{msequnce,jdbcType=INTEGER},
      mOneId = #{moneid,jdbcType=INTEGER}
    where mTowId = #{mtowid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.aaa.bean.Visittwomodile">
    <id column="mTowId" jdbcType="INTEGER" property="mtowid" />
    <result column="mname" jdbcType="VARCHAR" property="mname" />
    <result column="murl" jdbcType="VARCHAR" property="murl" />
    <result column="mdescribe" jdbcType="VARCHAR" property="mdescribe" />
    <result column="msequnce" jdbcType="INTEGER" property="msequnce" />
    <result column="mOneId" jdbcType="INTEGER" property="moneid" />
  </resultMap>
  <sql id="Base_Column_List">
    mTowId, mname, murl, mdescribe, msequnce, mOneId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from visittwomodile
    where mTowId = #{mtowid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from visittwomodile
    where mTowId = #{mtowid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aaa.bean.Visittwomodile">
    insert into visittwomodile (mTowId, mname, murl, 
      mdescribe, msequnce, mOneId
      )
    values (#{mtowid,jdbcType=INTEGER}, #{mname,jdbcType=VARCHAR}, #{murl,jdbcType=VARCHAR}, 
      #{mdescribe,jdbcType=VARCHAR}, #{msequnce,jdbcType=INTEGER}, #{moneid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aaa.bean.Visittwomodile">
    insert into visittwomodile
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mtowid != null">
        mTowId,
      </if>
      <if test="mname != null">
        mname,
      </if>
      <if test="murl != null">
        murl,
      </if>
      <if test="mdescribe != null">
        mdescribe,
      </if>
      <if test="msequnce != null">
        msequnce,
      </if>
      <if test="moneid != null">
        mOneId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mtowid != null">
        #{mtowid,jdbcType=INTEGER},
      </if>
      <if test="mname != null">
        #{mname,jdbcType=VARCHAR},
      </if>
      <if test="murl != null">
        #{murl,jdbcType=VARCHAR},
      </if>
      <if test="mdescribe != null">
        #{mdescribe,jdbcType=VARCHAR},
      </if>
      <if test="msequnce != null">
        #{msequnce,jdbcType=INTEGER},
      </if>
      <if test="moneid != null">
        #{moneid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aaa.bean.Visittwomodile">
    update visittwomodile
    <set>
      <if test="mname != null">
        mname = #{mname,jdbcType=VARCHAR},
      </if>
      <if test="murl != null">
        murl = #{murl,jdbcType=VARCHAR},
      </if>
      <if test="mdescribe != null">
        mdescribe = #{mdescribe,jdbcType=VARCHAR},
      </if>
      <if test="msequnce != null">
        msequnce = #{msequnce,jdbcType=INTEGER},
      </if>
      <if test="moneid != null">
        mOneId = #{moneid,jdbcType=INTEGER},
      </if>
    </set>
    where mTowId = #{mtowid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aaa.bean.Visittwomodile">
    update visittwomodile
    set mname = #{mname,jdbcType=VARCHAR},
      murl = #{murl,jdbcType=VARCHAR},
      mdescribe = #{mdescribe,jdbcType=VARCHAR},
      msequnce = #{msequnce,jdbcType=INTEGER},
      mOneId = #{moneid,jdbcType=INTEGER}
    where mTowId = #{mtowid,jdbcType=INTEGER}
  </update>
</mapper>